#logo {
   display: flex;
   justify-content: center;
   margin-top: 125px;
   position: relative;
}

#logo > span {
    position: absolute;
    margin-top: 75px;
    margin-left: 210px;
    color: #4285f4;
}


nav {
   text-align: right; 
   margin-top: 15px;
   margin-right: 10px;  
        
}
nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(68, 73, 78);
}

nav > a:hover {
    text-decoration: underline;
}

.searchbar {
    text-align: center;
    margin-top: 25px;  
    position: relative;
}

.icon {
    position: absolute;
    text-align: center;
    margin-top: 11px;
    margin-left: 430px;
}

.icon > img {
    height: 20px;
    width: 25px;
}


.search {
    height: 20px;
    width: 480px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(201, 197, 197);
    padding: 10px;
    padding-left: 40px;
}

.search:hover {
    box-shadow: 0 0 5px 2px rgb(212, 211, 211);
}

#buttons {
    text-align: center;
    margin-top: 30px;
}

button {
    margin-right: 10px;
    width: 135px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: grey;
}

button:hover {
    border: 1px solid rgb(185, 183, 183);
    color: rgb(59, 59, 59);
    cursor: pointer;
}

#g_home {
    background-color: #f1f1f1;
    height: 60px;
    width: 100%;
    bottom: 0;
}

#g_home > a > img {
    width: 92px;
    height: 33px;
    margin: 15px;
}








#advs {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    vertical-align: baseline;
}

#line {
    border-bottom: 1px solid #ebebeb;
}

#find_pages {
    margin-top: 40px;
    margin-left: 40px;

}

#inf { 
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
    color: #333;
    font-size: 15px;
}

.label {
    margin: 40px;
    width: 700px; 
}

.label > input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 500px;
}

.label > input:focus {
    outline: none;
    border-color:  #7cadfe;
    box-shadow: 0 0 5px  #7cadfe;
}

.label >label {
    display: inline-block;
    min-width: 150px;
    width: 20%;
    height: 10px;
    color: #222;
    font-size: 13px;
    vertical-align: middle;
    font-size: 13px;
  
}
#todo {
    text-align: right;
    color: #777;
    font-weight: bold;
    margin-right: 450px;
    
}

.pr {
    vertical-align: middle;
    float: right;
    color: #777;
    width: 400px;
    margin-right: 240px;
    font-size: 14px;
}

.pr > div {
    margin-top: 45px;
}

#advbutton {
    text-align: center;
    margin-right: 70px;
}

#advbutton > button {
    color: white;
    background-color: #4d90fe;
    border-radius: 2px;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
}

#advbutton > button:hover {
    background-color:  #3a81f3;
}




body {
    margin: 0%; 
    font-family: Arial, sans-serif; 
        
}

input:focus, button:focus {
    outline: none;
}